﻿﻿@using webgame.Models;

@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/2.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/4.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/YuGiOh.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <br>
                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Hệ máy</h2>
                        @Html.Action("DongMay", "User")
                    </div><!--/brands_products-->
                    <div class="brands_products" style="margin-top:20px;">
                        <!--brands_products-->
                        <h2>Nhà sản xuất</h2>
                        @Html.Action("NhaSanXuat", "User")
                    </div><!--/brands_products-->
                    <div class="price-range">
                        <!--price-range-->
                        <h2>Tìm theo giá</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                    <div class="shipping text-center" style="margin-bottom:20px;">
                        <!--shipping-->
                        <img src="~/images/giph2y.gif" />
                    </div><!--/shipping-->
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <br />
                    <h2 class="title text-center">Kết quả tìm kiếm</h2>
                    <h4>@ViewBag.Thongbao</h4>
                    @foreach (var sanpham in Model)
                    {
                        <div class="col-sm-4" id="chitiet">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/@sanpham.HinhAnh" alt="@sanpham.TenSP" style="height:250px; width:200px;" />
                                        <h4>@sanpham.TenSP</h4>
                                        @if (@sanpham.KhuyenMai == true)
                                        {
                                            <p>
                                                <h4 style="text-decoration:line-through;color:red;">Giá cũ: @sanpham.GiaBan VNĐ</h4>
                                            </p>
                                            <h2>Giá khuyến mãi:<br>@sanpham.GiaSale VNĐ</h2>
                                        }
                                        else
                                        {
                                            <p>Dễ dàng đặt hàng tốt</p>
                                            <h2>Giá bán:<br>@sanpham.GiaBan VNĐ</h2>
                                        }
                                        <a href="@Url.Action("themgiohang", "GioHang", new { @imagame = @sanpham.MaSP, @strUrl = Request.Url.ToString() })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4>@sanpham.TenSP</h4>
                                            @if (@sanpham.KhuyenMai == true)
                                            {
                                                <h2>Giá khuyến mãi:<br>@sanpham.GiaSale VNĐ</h2>
                                            }
                                            else
                                            {
                                                <h2>Giá bán:<br>@sanpham.GiaBan VNĐ</h2>
                                            }
                                            <a href="@Url.Action("ThemGioHang", "GioHang", new { @imagame = @sanpham.MaSP, @strUrl = Request.Url.ToString()})#chitiet" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                        </div>
                                    </div>
                                    <img src="~/images/home/new.png" class="new" alt="" />
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="@Url.Action("chitiet","User",new { id = sanpham.MaSP})#chitiet"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div><!--features_items-->
                <div class="recommended_items">
                    <br />
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm đề xuất</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @Html.Action("Dexuat", "User")
                            </div>
                            <div class="item">
                                @Html.Action("Dexuat", "User")
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->
            </div>
        </div>
    </div>
</section>
