﻿
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<style>
    #map {
        width: 855px;
        height: 600px;
    }

    #map_canvas {
        width: 855PX;
        height: 200px;
        border: solid 1px #ccc;
    }

    .end {
        background-color: #CC99FF;
        width: 855px;
        height: 50px;
    }
</style>

<style>
    #map {
        width: 1200px;
        height: 500px;
    }
</style>



<div id="map"></div>
<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 10.809854, lng: 106.714830},
          zoom: 8
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBASDO9BA4NIRQEu8BEOZoKEKsq2IFKk68&callback=initMap" async defer></script>
