﻿
@using PagedList.Mvc;
@using webgame.Models
@model PagedList.PagedList<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/2.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/4.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/YuGiOh.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <br>
                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Hệ máy</h2>
                        @Html.Action("DongMay", "User")
                    </div><!--/brands_products-->

                    <div class="brands_products" style="margin-top:20px;">
                        <!--brands_products-->
                        <h2>Nhà sản xuất</h2>
                        @Html.Action("NhaSanXuat", "User")
                    </div><!--/brands_products-->

                   

                    <div class="shipping text-center" style="margin-bottom:20px;">
                        <!--shipping-->
                        <img src="~/images/giph2y.gif" />
                    </div><!--/shipping-->
                    <div class="shipping text-center" style="margin-bottom:20px;">
                        <!--shipping-->
                        <img src="~/images/gf.gif" />
                    </div><!--/shipping-->
                    <div class="shipping text-center" style="margin-bottom:20px;">
                        <!--shipping-->
                        <img src="~/images/qc.gif" />
                    </div><!--/shipping-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <br />
                    <h2 class="title text-center">Sản phẩm mới</h2>

                    @foreach (var sanpham in Model)
                    {
                        <div class="col-sm-4" id="chitiet">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/@sanpham.HinhAnh" alt="@sanpham.TenSP" style="height:250px; width:200px;" />
                                        <h4>@sanpham.TenSP</h4>
                                        @if (@sanpham.KhuyenMai == true)
                                        {
                                            <p>
                                                <h4 style="text-decoration:line-through;color:red;">Giá cũ: @sanpham.GiaBan,000 VNĐ</h4>
                                            </p>
                                            <h2>Giá khuyến mãi:<br>@sanpham.GiaSale,000 VNĐ</h2>
                                        }
                                        else
                                        {
                                            <p>Dễ dàng đặt hàng tốt</p>
                                           
                                        }
                                        <a href="@Url.Action("chitiet","User",new { id = sanpham.MaSP})#chitiet" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4>@sanpham.TenSP</h4>
                                            @if (@sanpham.KhuyenMai == true)
                                            {
                                                <h2>Giá khuyến mãi:<br>@sanpham.GiaSale,000 VNĐ</h2>
                                            }
                                            else
                                            {
                                                <h2>Giá bán:<br>@sanpham.GiaBan,000 VNĐ</h2>
                                            }
                                            <a href="@Url.Action("themgiohang", "GioHang", new { @imagame = @sanpham.MaSP, @strUrl = Request.Url.ToString()})#chitiet" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                        </div>
                                    </div>
                                    <img src="~/images/home/new.png" class="new" alt="" />
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="@Url.Action("chitiet","User",new { id = sanpham.MaSP})#chitiet"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div><!--features_items-->

                <div class="Menutrang" style="margin-left:350px;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
                <style>
                    .Menutrang li {
                        display: inline;
                    }
                </style>



                <div class="category-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">Sản phẩm khuyến mãi</a></li>
                            @*@Html.Action("listloaigame", "User")*@
                        </ul>
                    </div>
                    <div class="tab-content" id="khuyenmai">
                        @foreach (var sanpham in Model)
                        {
                            if (@sanpham.KhuyenMai == true && @sanpham.TT == true)
                            {
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="~/images/@sanpham.HinhAnh" alt="" style="width:200px;height:250px;" />
                                                        <h4 style="text-decoration:line-through;color:red;">Giá cũ: @sanpham.GiaBan,000 VNĐ</h4>
                                                        <h2>Chỉ còn:<br>@sanpham.GiaSale,000 VNĐ</h2>
                                                        <h4>@sanpham.TenSP</h4>
                                                        <a href="@Url.Action("themgiohang", "GioHang", new { @imagame = @sanpham.MaSP, @strUrl = Request.Url.ToString()})#khuyenmai">
                                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="choose">
                                                    <ul class="nav nav-pills nav-justified">
                                                        <li><a href="@Url.Action("chitiet", "User", new { id = @sanpham.MaSP })#chitiet"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*<div class="tab-pane fade" id="blazers">
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/images/home/gallery4.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Dễ dàng đặt hàng tốt</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <br />
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm đề xuất</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @Html.Action("Dexuat", "User")
                            </div>
                            <div class="item">
                                @Html.Action("Dexuat", "User")
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/contact.js"></script>
<script src="~/Scripts/gmaps.js"></script>
<script src="~/Scripts/html5shiv.js"></script>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script src="~/Scripts/jquery.scrollUp.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/price-range.js"></script>

