﻿@{
    ViewBag.Title = "Sptheodongmay";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    <div class="brands_products">
                        <br>
                        <!--brands_products-->
                        <h2>Hệ máy</h2>
                        @Html.Action("DongMay", "User")
                    </div><!--/brands_products-->

                    <div class="brands_products" style="margin-top:20px;">
                        <!--brands_products-->
                        <h2>Nhà sản xuất</h2>
                        @Html.Action("NhaSanXuat", "User")
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Tìm theo giá</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center" style="margin-bottom:20px;">
                        <!--shipping-->
                        <img src="~/images/gf.gif" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right" id="chitiet">
                <div class="features_items">
                    <!--features_items-->
                    <br>
                    <h2 class="title text-center">Sản phẩm theo dòng máy</h2>

                    @foreach (var sanpham in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/@sanpham.HinhAnh" alt="@sanpham.TenSP" style="width:200px;height:250px;" />
                                        <h4>@sanpham.TenSP</h4>
                                        <h2>@sanpham.GiaSale VNĐ</h2>
                                        <p>Dễ dàng đặt hàng tốt</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4>@sanpham.TenSP</h4>
                                            <h2>@sanpham.GiaSale VNĐ</h2>
                                            <a href="@Url.Action("themgiohang", "GioHang", new { @imagame = @sanpham.MaSP, @strUrl = Request.Url.ToString() })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
                                        </div>
                                    </div>
                                    <img src="~/images/home/new.png" class="new" alt="" />
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="@Url.Action("chitiet","User",new { id=sanpham.MaSP})#chitiet"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div><!--features_items-->

                <div class="recommended_items">
                    <br>
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm đề xuất</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @Html.Action("laysanphammoi", "User")
                            </div>
                            <div class="item">
                                @Html.Action("laysanphammoi", "User")
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/contact.js"></script>
<script src="~/Scripts/gmaps.js"></script>
<script src="~/Scripts/html5shiv.js"></script>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script src="~/Scripts/jquery.scrollUp.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/price-range.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104485777-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-104485777-3');
</script>