﻿@using webgame.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<LoaiGame>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Bảng Thông Tin Loại Game</h4>
            <p class="category">Quản lý thông tin loại game</p>
            <br>
            <a href="@Url.Action("Them")">
                <input type="button" value="Thêm loại game mới" class="btn btn-default" />
            </a>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                <th>Mã Loại Game</th>
                <th>Tên Loại Game</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.MaLoai
                            </td>
                            <td>
                                @item.TenLoai
                            </td>
                            <td>
                                <a href="@Url.Action("Editlg", new { id = item.MaLoai })">
                                    <img src="~/assets/img/icon_edit.png" width="20px" height="20px"> Edit
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Deletelg", new { id = item.MaLoai })">
                                    <img src="~/assets/img/icon_delete.png" width="20px" height="20px"> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="MenuTrang" style="text-align:center;">

    @Html.PagedListPager(Model, page => Url.Action
                    ("Index", new { page = page })) <br />
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

<footer class="footer">
    

</footer>


